body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
              url('stadium-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-box {
  background: rgba(34, 34, 34, 0.9);
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(124, 208, 223, 0.6);
  padding: 40px;
  width: 450px;
  text-align: center;
}

.logo-section {
  margin-bottom: 25px;
}

.logo-section .tagline {
    font-weight: bold;
}

.logo {
  width: 190px;
  height: 190px;
  object-fit: contain;
  margin-bottom: 10px;
}

.logo-section h1 {
  font-size: 1.4em;
  margin-bottom: 5px;
  color: #7CD0DF;
}

.tagline {
  font-size: 0.9em;
  color: #ccc;
  margin-bottom: 15px;
}

.login-form h2 {
  color: #7CD0DF;
  margin-bottom: 15px;
}

.login-form label {
    font-weight: bold;
}

label {
  display: block;
  text-align: left;
  font-size: 0.9em;
  margin-bottom: 5px;
  color: #ccc;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #333;
  color: #7CD0DF;
  font-size: 1em;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #7CD0DF;
  color: #000;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #63c2d2;
}

.switch {
    font-weight: bold;
}

.error {
  color: #ff6666;
  margin-top: 10px;
}

footer {
  position: fixed;
  bottom: 10px;
  text-align: center;
  font-size: 0.9em;
  color: #ccc;
  font-weight: bold;
}

.switch {
  font-size: 0.9em;
  margin-top: 10px;
}

.switch a {
  color: #7CD0DF;
  text-decoration: none;
}

.switch a:hover {
  text-decoration: underline;
}